<!DOCTYPE html >
<html ng-app="Api">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
     @Styles.Render("~/Content/template")
</head>
<body >
    <div id="wrapper" ng-controller="CrlPrincipal">
 
        <cuerpo></cuerpo>
        <menuprincipal></menuprincipal>

        <div id="page-wrapper" style="min-height: 680px;">
        <div class="graphs">   	
      
	   @RenderBody()
    
		
		</div>
       </div> 
        </div>



    <script src="~/Scripts/js/jquery.min.js"></script>
    @Scripts.Render("~/bundles/template")  
    <script src="~/Scripts/js/metisMenu.min.js"></script>
    <script src="~/Scripts/js/underscore-min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
  @*  @Scripts.Render("~/bundles/jquery")*@
    @RenderSection("scripts", required: false)

</body>
</html>
